.top5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top5_card-item{
    width: 400px;
    cursor: pointer;
   
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

@media (max-width: 500px) {
    .top5_card-item {
        width: 250px;
    }
}